<include file='Public:header' />
<include file='Public:nav' />
<link rel="StyleSheet" href="__DTREE__/dtree.css" type="text/css" />
<script type="text/javascript" src="__DTREE__/dtree.js"></script>
<div class="nav">
	<div class="left">查看发布信息</div>
	<div class="right"><a href="#" class="button" onclick="window.history.go(-1)">返回</a></div>
</div>
<div class="table_full">
<table width='100%'>
	<tr>
		<th width="20%">标题</th>
		<td width="80%">{$val.title}</td>
	</tr>
	<tr>
		<th width="20%">长度(分钟)</th>
		<td width="80%">{$val.length}</td>
	</tr>
	<tr>
		<th width="20%">类别</th>
		<td width="80%">{$val.type|getInfoType}</td>
	</tr>
	<tr>
		<th width="20%">状态</th>
		<td width="80%">{$val.status|getAuditStatus}</td>
	</tr>
	<tr>
		<th width="20%" >发布时间:</th>
		<td width="80%">{$val.sub_time|date='Y-m-d H:i',###}</td>
		</td>
	</tr>
	<tr>
		<th width="20%">内容</th>
		<td width="80%"><textarea name="content" id="content" clos="40" rows="5" disabled>{$val.content}</textarea></td>
	</tr>
	<tr>
		<th width="20%">所选设备</th>
		<td width="80%" >
			<p><a href="javascript: d.openAll();">展开</a> | <a href="javascript: d.closeAll();">合并</a>
			</p>
			<br>
			<div id="myTree"></div>
		</td>
		
	</tr>
	
</table>

</div>
<div class="btn_wrap">
  <div class="btn_wrap_pd">
 
	<button type="button" class="btn btn-info" onclick="return window.history.go(-1)">返回</button>
  </div>
</div>
<script type="text/javascript">
	var dtroot="__DTREE__";
	d = new dTree('d');
	d.config.check = true;
	$.ajax({  
                url : "{:U('getDevice')}",  
                async : false,//同步，等这个请求完成后才继续往下执行,这样myTree才能使用返回来的数据  
                dataType: "json",  
                success: function(myData) { 
                    for ( var i = 0; i < myData.length; i++) {  
                        var obj = myData[i];
                        //right是window.parent的一个frame的name  
                        d.add(obj.id, obj.p_id, obj.name,"","",""); 
						
                    }
					document.getElementById('myTree').innerHTML=d;
					d.defaultChecked("{$val.device}");
                }  
          }); 
          d.config.useCookies = false;
          d.config.inOrder = true;
</script>
