body {
    margin: 0px 0px;
    padding: 0px 0px;
    background: #808080 url('../img/bg.png') no-repeat;
    width: 1080px;
    height: 1920px;
    font-family: "atsfont";
}

.TimeArea{
	width: 1010px;
    left: 32px;
    top: 38px;
	height:220px;
}
.marquee {
    width: 1009px;
    left: 32px;
    top: 38px;
	height:220px;
	background-image: url('../img/1.png');
#	background-repeat: no-repeat; 
#	background-size:cover;
	display:none;
#   font-family: STSong;
}


.ats {
	top: 260px;
}
.movie {
	width: 1030px;
    left: 22px;
    top: 1132px;
	height:760px;
	
}
.halfscr {
	width: 1030px;
    left: 24px;
    top: 1134px;
	height:760px;
	background-image: url('../img/halfscr.png');
#	background-repeat: no-repeat; 
#	background-size:cover;
	display:none;
#   font-family: STSong;
}

#line {
	width:939px;
    left: 32px;
    top: 32px;
	height:210px;
	background:url('../img/4.png');
	
} 

#limit {
	width:1080px;
	height:1920px;
	top:-300px;
	background:url('../img/limit.png') no-repeat ;
} 

.destination-lable {
    left: 64px;
	width:800px;
    top: 320px;
}
.destination-lable2 {
    left: 64px;
	width:800px;
    top: 540px;
}
.destination-text {
    left: 0px;
    top: 70px;
}
.destination-text2 {
    left: 0px;
    top: 140px;
}
.arrival {
	left: 0px;
    top: 0px;
	color: #01814a;
	
}
.arrival-time .arrival-time2{
    
}
.wt1{left: 730px;width:160px;top:320px;}
.wt2{left: 632px;width:400px;top:480px;}
.wt3{left: 732px;width:150px;top:600px;}
.wt4{left: 782px;width:150px;top:620px;}
#tab { overflow:hidden; top:292px;left:32px;width:939px; height:825px;  display:none}
#tab>img:not(:first-child){ display:none; }


