<include file='Public:header' />
<include file='Public:nav' />
<style> 
#wrap{    
       clear:both;       
       margin:0 auto;   
}   
#left_a { float:left;width:"100%";}   
#right_a { float:right;width:"100%";}  
</style>
<div class="nav">
	<div class="left">发布指令</div>
	<div class="right"><a href="#" class="button" onclick="window.history.go(-1)">返回</a></div>
</div>

<div id="wrap">
	<div id="left_a">
		<iframe id="left" name="left" frameborder="0" scrolling="yes" width="400px" height="500px" src="{:U('device')}"></iframe>
	</div>		
	<div id="right_a">	
		<div class="table_full">
		<form action="" method="post" onsubmit="return check();" >
		<table width='560px'>
			<tr>
				<th width="20%">指令：</th>
				<td width="80%">
					<input type="radio" name="type" class="input" size="40" value="1" checked >重启</>  
					<input type="radio" name="type" class="input" size="40" value="2" >关机</>
				</td>
			</tr>	
		</table>
		</div>
	</div>		
</div>
<input name="device" id="device" type="hidden" value="">

<div class="btn_wrap">
  <div class="btn_wrap_pd">
	<button class="btn btn_submit mr10 " type="submit">提交</button>
	<a href="#" class="button" onclick="window.history.go(-1)">返回</a>
  </div>
</div>
</form>
</body>
</html>
<script>
	function check(){
		var device = left.window.d.getText();

		if(device == '')
		{
			alert("请选择设备")
			return false;
		}else
		{
			window.document.getElementById("device").value=device;
		}
		return true;
	}
</script>
