<include file='Public:header' />
<include file='Public:nav' />
<style> 
#wrap{    
       clear:both;       
       margin:0 auto;   
}   
#left_a { float:left;width:"100%";}   
#right_a { float:right;width:"100%";}  
</style>
<div class="nav">
	<div class="left">发布节目</div>
</div>
<form action="" method="post" onsubmit="return check();" >
<div id="wrap">
	<div id="left_a">
		<iframe id="left" name="left" frameborder="0" scrolling="yes" width="400px" height="500px" src="{:U('device')}"></iframe>
	</div>		
	<div id="right_a">	
		<iframe id="right" name="right" frameborder="0" scrolling="yes" width="560px" height="480px" src="{:U('proLists')}"></iframe>
	</div>		
</div>
<input name="device" id="device" type="hidden" value="">
<input name="program" id="program" type="hidden" value="">
<div class="btn_wrap">
  <div class="btn_wrap_pd">
	<button class="btn btn_submit mr10 " type="submit">提交</button>
	<a href="#" class="button" onclick="window.history.go(-1)">返回</a>
  </div>
</div>
</form>
</body>
</html>
<script>
	function check(){
		right.window.check_radio();
		var device = left.window.d.getText();
		var program = window.document.getElementById("program").value;
		if(device == '')
		{
			alert("请选择设备")
			return false;
		}else
		{
			window.document.getElementById("device").value=device;
		}
		if(program == '')
		{
			alert("请选择节目单")
			return false;
		}
		return true;
	}
</script>
